@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --backgroundfull: #0F172A;
    --bgcaixa: #1E293B;
    --bgpergunta_e_resposta: #334155;

    --font: "Inter", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0F172A;;

    font-family: var(--font);
    font-weight: normal;
}


main {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: center;
    padding: 30px 0px;

    background-color:#0F172A;
}

h1 {
    text-align: center;
    color: gold;
    font-size: 3em;
}



div.caixas {
    background-color: #1E293B;
    padding: 10px;
    margin: 30px 0px;
}

div.caixas > div.perguntas {
    margin: 30px 0px;
    padding: 10px;

    background-color:  #334155;
}

div.perguntas > p {
    color: white;
}

div.caixas > div.respostas {
    margin: 30px 0px;
    display: flex;
    align-items: center;

    background-color: #334155; 
}

div.alternativas > div.fl {
    display: flex;
}
